@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <html>
    <head>
        <title>Gummi Bear Kingdom</title>
    </head>
    <body>
        <h2>Welcome to the Gummi Bear Kingdom</h2>
    </body>
    </html>