@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <html>
    <head>
        <title>Gummi Bear Kingdom</title>
    </head>
    <body>
        <h2 class="gummi">GU AND MI</h2>
        <h4 class="kingdom">KINGDOM FOR ALL</h4>
        <div class="bar">
            <p class="describe">Organic Gummi Bears / Tropical Flavors / From all over the world</p>
        </div>
        <div class="story">
            <div class="flex-item"><img src="http://target.scene7.com/is/image/Target/50300473?wid=520&hei=520&fmt=pjpeg" alt="black forest" class="fleximg"/></div>
            <div class="flex-item"><img src="http://1.bp.blogspot.com/-4BJG-Uizzf4/UMpTT44vnyI/AAAAAAAAOPg/Fgg5W0DbC-g/s1600/YummyEarth+CHRISTMAS+Gummy+Bears+%25281%2529.jpg" alt="yummy earth" class="fleximg" /></div>
            <div class="flex-item"><img src="https://images-na.ssl-images-amazon.com/images/I/519JJTm5%2BxL.jpg" alt="haribo" class="fleximg" /></div>
            <div class="flex-item"><img src="http://1.bp.blogspot.com/-Voof3WHSvio/UdrizswvTNI/AAAAAAAAAAw/LR_fcjwZXfw/s1600/2.jpg" alt="Nice!" class="fleximg" /></div>
            <div class="flex-item"><img src="https://cdn-tp1.mozu.com/9046-11441/cms/11441/files/0634218a-155f-4e5c-988e-ca30900d16ea" alt="jelly belly" class="fleximg" /></div>
            <div class="flex-item"><img src="http://bpc.h-cdn.co/assets/16/03/480x480/gallery-1453241053-albanese-gummy-bears.jpg" alt="Albanese" class="fleximg" /></div>
        </div>
    </body>
    </html>