html, body {
    height: 120%;
}

ul {
    font-size: 20px;
    font-family: 'Gudea', sans-serif;
}

.container {
   -webkit-box-shadow: -1px 3px 37px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 37px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 37px 5px rgba(0,0,0,0.75);
    height: 100%;
    width: 100%;
    z-index: 99;
    background-image:url("http://2.bp.blogspot.com/-Va85Jq3Efq4/UeVmy_Z4qBI/AAAAAAAAEaw/3QiW-bEKEMk/s1600/wallpaper-2905680.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
   
}

.gummi {
    color: white;
    font-size: 145px;
    margin-top: 13%;
    margin-left: 20%;
    font-family: 'Gudea', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}

.kingdom {
    color: white;
    font-size: 50px;
    margin-top: 2%;
    margin-left: 40%;
    font-family: 'Gudea', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}
.navbar {
    background-color: white;
    margin-left: -15px;
    margin-right: -15px;
}

.story {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 5%;
    color: black;
}

.flex-item {
    background-color: white;
    padding-top: 1px;
    width: 300px;
    height: 370px;
    margin: 20px;
    text-align: center;
    font-family: 'Gudea', sans-serif;
    font-size: 22px;
    color: black;
    overflow: hidden;

}

.flex-item:hover {
  height: 390px;
  -webkit-box-shadow: 10px 6px 108px 37px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 6px 108px 37px rgba(0,0,0,0.75);
  box-shadow: 10px 6px 108px 37px rgba(0,0,0,0.75);
  -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;

}

.fleximg {
    height: 200px;
    margin-left: 8px;
    margin-top: 30px;
}

.circle {
    border-radius: 70%;
    height: 200px;
    float: right;
    position: relative;
    margin-top: -5%;
    z-index:100;
}

.bar {
    height: 70px;
    background-color: rgba(255,50,50, 0.6);
    margin-top: 7%;
    margin-left: -1.5%;
    margin-right: -1.5%;
  
}

.describe {
    color: white;
    font-family: 'Gudea', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

.white {
    height: 200px;
    background-color: white;
}

.first {
    background-color: #FF4C4C;
}

.second {
    background-color: #FFA500;
}

.third {
    background-color: #FFFF4C;
}

.fourth {
    background-color: #4CBB17;
}

.fifth {
    background-color: #fffdd0;
}

.sixth {
    background-color: #00BFFF;
}

.bearindex {
    background-color: white;
    color: black;
    margin-top: 20%;
    height: 100%;
    -webkit-box-shadow: 10px 6px 108px 37px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 108px 37px rgba(0,0,0,0.75);
     box-shadow: 10px 6px 108px 37px rgba(0,0,0,0.75);
     font-family: 'Gudea', sans-serif;
}



.btn {
    margin-left: 2%;
    margin-top: 2%;
    font-family: 'Gudea', sans-serif;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}