@model IEnumerable<GummiBear.Models.Bear>

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <h2>Gummi Bears</h2>
    <ul>
        @foreach (var listBear in Model)
        {
            <li>@Html.DisplayFor(modelBear => listBear.Name)| @Html.ActionLink("Details", "Details", new { id = listBear.BearId })</li>
        }
    </ul>
</body>
</html>
